<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.swein.shjetpackcompose">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".application.AppDelegate"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".basic.cameraandphoto.CameraAndPhotoActivity"
            android:exported="false" />
        <activity
            android:name=".basic.navigationexample.NavigationExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.xmltocompose.XMLToComposeExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.composetoxml.ComposeToXMLExampleActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".basic.webviewexample.WebViewExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.pagerexample.PagerExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.tabrowpagerexample.TabRowPagerExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.lazycolumnexample.LazyColumnStickerHeaderExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.tabrowexample.TabRowExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.compositionlocalexample.CompositionLocalExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.customthemeexample.CustomThemeExampleActivity"
            android:exported="false"
            android:label="@string/title_activity_custom_theme_example" />
        <activity
            android:name=".basic.lazycolumnexample.LazyColumnReloadAndLoadMoreExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.lazyverticalgridexample.LazyVerticalGridExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.lazyrowexample.LazyRowExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.lazycolumnexample.LazyColumnExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.floatingactionbutton.FloatingActionButtonExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.bottomnavigationexample.BottomNavigationExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.modaldrawer.ModalDrawerExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.constraintexample.ConstraintExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.alertdialogexample.CustomAlertDialogExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.dropdownmenu.DropdownMenuExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.topappbarexample.TopAppBarExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.scaffold.ScaffoldExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.modalbottomsheetlayoutexample.ModalBottomSheetLayoutExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.alertdialogexample.AlertDialogExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.modifierexample.ModifierExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.boxexample.BoxExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.columnexample.ColumnExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.rowexample.RowExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.surfaceexample.SurfaceExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.cardexample.CardExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.textfieldexample.TextFieldExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.imageexample.ImageExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.buttonexample.ButtonExampleActivity"
            android:exported="false" />
        <activity
            android:name=".basic.textexample.TextExampleActivity"
            android:exported="false"
            android:label="@string/title_activity_text_example" />
        <activity
            android:name=".examples.custombottomnavigationbarexample.CustomBottomNavigationBarExampleActivity"
            android:exported="true"
            android:label="@string/title_activity_custom_bottom_navigation_bar_example" />
        <activity
            android:name=".examples.viewholderexample.ViewHolderExampleActivity"
            android:exported="true"
            android:label="@string/title_activity_view_holder_example" />
        <activity
            android:name=".examples.marginandpaddingexample.MarginAndPaddingExampleActivity"
            android:exported="true" />
        <activity
            android:name=".examples.lazycolumexample.LazyColumnExampleActivity"
            android:exported="true"
            android:label="@string/title_activity_lazy_column_example" />
        <activity
            android:name=".examples.schedulenote.edit.EditScheduleActivity"
            android:exported="true"
            android:label="@string/title_activity_edit_schedule_item" />
        <activity
            android:name=".examples.schedulenote.main.ScheduleListActivity"
            android:exported="true"
            android:label="@string/title_activity_schedule_note" />
        <activity
            android:name=".examples.loginscreen.LoginScreenOneActivity"
            android:exported="true"
            android:label="@string/title_activity_login_screen_one" />
        <activity
            android:name=".googletutorial.vilayout.GTLayoutActivity"
            android:exported="true"
            android:label="@string/title_activity_gtlayout" />
        <activity
            android:name=".googletutorial.ivbasic.GTBasicActivity"
            android:exported="true"
            android:label="@string/title_activity_gtbasic"
            android:launchMode="singleTask" />
        <activity
            android:name=".googletutorial.ibasictutorial.GTBasicTutorialActivity"
            android:exported="true"
            android:label="@string/title_activity_gtbasictutorial"
            android:launchMode="singleTask" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.swein.shjetpackcompose.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.swein.shjetpackcompose.application.AppStartUp"
                android:value="androidx.startup" />

            <!-- if you don't need -->
            <!-- <meta-data -->
            <!-- android:name="com.swein.androidkotlintool.main.examples.appstartup.AppStartUpExample" -->
            <!-- tools:node="remove" -->
            <!-- /> -->
        </provider>
    </application>

</manifest>