<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swein.shjetpackcompose">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.AppDelegate"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SHJetpackCompose">
        <activity
            android:name=".examples.todonote.edit.EditToDoItemActivity"
            android:exported="true"
            android:label="@string/title_activity_edit_to_do_item"
            android:theme="@style/Theme.SHJetpackCompose.NoActionBar" />
        <activity
            android:name=".examples.todonote.main.ToDoNoteActivity"
            android:exported="true"
            android:label="@string/title_activity_to_do_note"
            android:theme="@style/Theme.SHJetpackCompose.NoActionBar" />
        <activity
            android:name=".examples.loginscreen.LoginScreenOneActivity"
            android:exported="true"
            android:label="@string/title_activity_login_screen_one"
            android:theme="@style/Theme.SHJetpackCompose.NoActionBar" />
        <activity
            android:name=".googletutorial.vilayout.GTLayoutActivity"
            android:exported="true"
            android:label="@string/title_activity_gtlayout"
            android:theme="@style/Theme.SHJetpackCompose.NoActionBar" />
        <activity
            android:name=".googletutorial.ivbasic.GTBasicActivity"
            android:exported="true"
            android:label="@string/title_activity_gtbasic"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SHJetpackCompose.NoActionBar" />
        <activity
            android:name=".googletutorial.ibasictutorial.GTBasicTutorialActivity"
            android:exported="true"
            android:label="@string/title_activity_gtbasictutorial"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SHJetpackCompose.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SHJetpackCompose.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>